:root {
  --dark-purple: #1f004d;
  --med-purple: #563387;
  --lgt-purple: #5b3490;
}

.container {
  background-image: linear-gradient(
    to right,
    var(--dark-purple),
    var(--med-purple),
    var(--lgt-purple),
    var(--med-purple),
    var(--dark-purple)
  );
  background-attachment: fixed;
  max-width: 100%;
  margin: 0;
  top: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
}

.logo {
  width: 5%;
  position: absolute;
  padding-top: .5%;
}

#header ul {
  font-size: 150%;
  align-items: center;
  font-family: "Oswald", sans-serif;
  display: flex;
  background-color: black;
  max-width: 100%;
  height: 10%;
  padding: 1%;
  justify-content: flex-end;
}

#header li {
  font-size: 2vw;
  padding-left: 5%;
  list-style-type: none;
}

#header li a:link {
  color: white;
  text-decoration: none;
}

#header button {
  color: white;
  background: black;
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-decoration: none;
}

#header li a:visited {
  color: white;
  text-decoration: none;
}

#header li a:hover {
  color: orange;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 2vw;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
}

.headshot {
  border-radius: 50%;
  display: inline-block;
  height: 25%;
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  border: none;
  outline: 0;
  top: 10%;
  left: 50%;
  color: black;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.hero {
  display: flex;
  position: relative;
  align-items: flex-end;
  grid-column-start: 1;
  grid-column-end: -1;
}

.hero img {
  max-width: 100%;
  opacity: 0.9;
}

.credit {
  position: absolute;
  right: 0;
}

.hero-text {
  font-size: 4vw;
  text-align: center;
  font-family: "Merriweather", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-description {
  font-size: 2vw;
  text-align: center;
  font-family: "Merriweather", serif;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hire-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  top: 65%;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  padding: 0.5% 1%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  cursor: pointer;
  border-radius: 10%;
  font-size:2vw;
}

button a:link {
  color: darkorange;
  text-decoration: none;
}

button a:visited {
  color: darkorange;
  text-decoration: none;
}

button:hover {
  background-color: darkorange;
}

button:hover a {
  color: black;
}

.icons {
  padding-top: 2%;
  grid-column-start: 1;
  grid-column-end: -1;
  justify-content: space-around;
  display: flex;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.content {
  text-align: center;
  display: flex;
  grid-gap: 1%;
  width: 80%;
  height: auto;
  margin: 5% auto;
  font-family: "Oswald", sans-serif;
  box-shadow: 4px 6px 28px -2px rgba(0, 0, 0, 0.75);
  background-color: black;
  flex-direction: column;
  align-items: stretch;
  border-radius: 15%;
}

.content h3 {
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  text-align: center;
}

.content p {
  font-size: 1.5vw;
  padding: 2%;
  border-radius: 25%;
  margin: 1%;
  color: lightgray;
}

.project-header {
  font-size: 4vw;
  padding-top: 2%;
  grid-column-start: 1;
  grid-column-end: -1;
  justify-content: space-around;
  display: flex;
  text-align: center;
  text-decoration: underline;
  color: darkorange;
  text-shadow: rgba(0, 0, 0, 0.2) 3px 5px 2px;

}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  box-shadow: 4px 6px 28px -2px rgba(0, 0, 0, 0.75);
  margin: 5% auto;
  width: 80%;
  border-radius: 15%;
}

.screencap {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  font-family: "Oswald", sans-serif;
  font-size: 2vw;
  background-color: black;
  overflow: hidden;
  max-width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 15%;

}

.overlay h3 {
  font-family: inherit;
  font-size: 2vw;
  text-decoration: underline;
}

.overlay a {
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  text-align: center;
}

.overlay p {
  font-size: 1.5vw;
  color: lightgray;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 1%;
  padding: 2%;
}

.projects-container:hover .overlay {
   bottom: 0;
  font-family: "Oswald", sans-serif;
  height: 100%;
}

.projects-container:hover .overlay a {
  color: white;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
}

#footer {
  font-size: 1vw;
}
